{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
    },
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "embertest": true,
    "es6": true,
    "node": true,
  },
  "extends": "google",
  "rules": {
    "max-len": "off",
    "require-jsdoc": "off",
    "valid-jsdoc": "off"
  }
}
